<%
require 'rss/maker'

## generate RSS
content = RSS::Maker.make("2.0") { |m|
  m.channel.title = "RickrollDB updates"
  m.channel.link = "http://#{site_url}/rss"
  m.channel.description = "Latest updates to the rickroll database, the #1 weapon in the war on rickroll"
  # m.items.do_sort = true # sort items by date

  @entries.each { |entry|
    i = m.items.new_item
    i.title = entry.url
    i.link = entry_url(entry)
    last_flag = entry.flags.last
    i.description = 
		"#{entry.confirmations} confirmations, #{entry.disputes} disputes <br />
    blacklisted? #{entry.confirmed? ? 'yep' : 'nope'}
		<p>#{link_to '&raquo; Comments <br /> <img src="'+entry.thumbnail+'" alt="" title="" />', entry_url(entry)}</p>"
    # i.date = last_flag.timestamp rescue Time.now
		i.date = entry.created_at rescue Time.now # i can't decide if the RSS should be busy or slow
  }
}
%>
<%= content %>
