<%
require 'rss/maker'

## generate RSS
content = RSS::Maker.make("2.0") { |m|
  m.channel.title = "RickBlock updates"
  m.channel.link = "http://rickrolldb.com/rss"
  m.channel.description = "Latest updates to the rickroll blacklist database, the #1 weapon in the war on rickroll"
  # m.items.do_sort = true # sort items by date

  @entries.each { |entry|
    i = m.items.new_item
    i.title = entry.url
    i.link = url(:entry, entry)
    last_flag = entry.flags.last
    i.description = "
    now #{entry.confirmations.length} yeas, #{entry.disputes.length} nays <br />
    blacklisted yet? #{entry.confirmed? ? 'yep' : 'nope'}

		<p>#{link_to '&raquo; Comments <br /> <img src=\"#{entry.thumbnail}\" />', url(:entry, entry)}</p>
"
    #i.date = Time.now # they don't give us a time, bastards
    i.date = last_flag.timestamp
  }
}
%>
<%= content %>
