
<h1>About</h1>

<p>
	RickBlock is created and maintained by <em>viewers like you</em>! <br />
	Thanks for helping save the Internet.
</p>


<p><br />
	Built by <a href="http://tramchase.com">Jamie Wilkinson</a> in NYC, Nov. 2007<br />
</p>

<p><br />
	Source code + docs: <a href="http://dev.fffff.at/projects/rickrolldb">dev.fffff.at</a> <br />
	100% open-source technology: <a href="http://rubylang.org">Ruby</a>, <a href="http://merbivore.com">Merb</a>, <a href="http://jquery.com">jQuery</a>. <br />	
</p>

<p><br />
	A <a href="http://fffff.at">FAT Lab</a> production <br />
	<em>"No copyrights, no money.... <a href="http://internetfamo.us">just fame</a>."</em>
</p>

