
<h1>Privacy Policy</h1>

<p>
	RickrollDB stores your IP address w/ any submissions, including flagging, for the purposes of preventing duplicates. 
	We're privacy nuts so we thought you might like to know. 
	If you don't like this you probably shouldn't be using the Internet, y'heard.
</p>

<p>No other personal identifying information is collected, used or even desired.</p>

<p>Thx for playing.</p>