<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Rickroll Database: <%= @exception.name.humanize %></title>
  <link rel="stylesheet" href="/stylesheets/rickblock.css" type="text/css" media="screen" charset="utf-8" />
</head>
<body>
	<div id="container">
		<%# FIXME make header a partial. Or render exceptions w/ layout...? %>
		<div id="header">
                        <div id="title">
                                <a href="/"><img src="/images/rick-donotwant-slice-sm.jpg" alt="RickBlock, The #1 Rickroll Blocker" title="The #1 Rickroll Blocker" class="logo floatLeft" /></a>
                                <br />

                        <h1><a href="/">Rickroll Database</a></h1>
                                <h2>Saving the Internets... one roll at a time.</h2>
                        </div>
		</div>


		<div id="main">
			<br /><br /><br /><br /><br />
			<h1><%= @exception.name.humanize %> <sup class="error_<%= @exception.class::STATUS %>"><%= @exception.class::STATUS %></sup></h1>
			
			<br />

			<img src="http://tramchase.com/images/lolz/lol-not-again-RICKROLL.png" alt="" title="this is what you get" />
		</div>
	</div>
</body>
</html>
