
<h3>Exception:</h3>
<p><%= params[:exception] %></p>

<h3>Why am I seeing this page?</h3>
<p>We couldn't find an appropriate content_type to return,
  based on what you said was available and what you requested.
</p> 